[user]
	email = drllap@gmail.com
	name = Pall Palsson
[core]
	editor = nvim
	symlink = true
[pull]
    rebase = true
[push]
    autoStash = true
    autoSetupRemote = true
[rebase]
    autoStash = true
[merge]
    autoStash = true
[branch]
    sort = -committerdate
