<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="autohotkey" />
  <package id="autohotkey.install" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-visualstudio.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="clumsy" />
  <package id="com0com" />
  <package id="cports" />
  <package id="dependencies" />
  <package id="dotnet-10.0-desktopruntime" />
  <package id="dotnet-6.0-desktopruntime" />
  <package id="dotnet-7.0-desktopruntime" />
  <package id="dotnet-8.0-desktopruntime" />
  <package id="dotnet-9.0-desktopruntime" />
  <package id="dotnet-desktopruntime" />
  <package id="dotnetfx" />
  <package id="doxygen.install" />
  <package id="graphviz" />
  <package id="hxd" />
  <package id="KB2533623" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="KB3063858" />
  <package id="KB3118401" />
  <package id="lf" />
  <package id="miniconda3" />
  <package id="obsidian" />
  <package id="pgadmin4" />
  <package id="qbittorrent" />
  <package id="rufus" />
  <package id="spotify" />
  <package id="spotify-tui" />
  <package id="sublimemerge" />
  <package id="sublimetext3" />
  <package id="sumatrapdf" />
  <package id="sumatrapdf.install" />
  <package id="treesizefree" />
  <package id="typst" />
  <package id="vcredist140" />
  <package id="vcredist2015" />
  <package id="vifm" />
  <package id="visualstudio-installer" />
  <package id="WinDirStat" />
  <package id="wiztree" />
</packages>